body {
    background-color: #aaa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../imagens/pokemon-logo.jpg');
    background-size: cover; /* A imagem de fundo cobrirá todo o elemento */
    background-position: center; /* A imagem de fundo será centralizada */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.login-form {
    text-align: center;
    max-width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

.login__header img {
    width: 140px;
    max-width: 100%;
    margin-bottom: 20px; /* Add space between image and input box */
}

.login__header h1 {
    color: #333;
    font-size: 1.1em;
}

.login__input,
.login__button {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.login__button {
    background-color: #ee665c;
    color: #fff;
    cursor: pointer;
}

.login__button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .login__header img {
        width: 100px;
        margin-bottom: 10px; /* Adjust space for smaller screens */
    }

    .login-form {
        max-width: 100%;
    }

    .login__input,
    .login__button {
        margin-bottom: 10px;
        padding: 10px;
    }
}
